<div class="main-screen">
  <div mat-dialog-actions style="width:100%;" class="d-actions">
    <button mat-button (click)="closeMSG(false)" class="close-button"><span class="material-icons-outlined">
        close
      </span></button>
    <h1 mat-dialog-title style="margin-top:10px;"> {{data.title}}</h1>
  </div>

  <div style="width:80%;border:1px solid black;"></div>
  <div mat-dialog-content style="margin-top:45px;">
    <span>{{data.message}}</span>
  </div>
  <div style="margin-top:20px; display:flex; gap:10px;">
    <button (click)="closeMSG(true)" class="action-button">Yes</button>
    <button (click)="closeMSG(false)" class="action-button">No</button>
  </div>
</div>