<body>
    <div class="top-nav" *ngIf="!(authService.isLoggedIn$ | async)">
        <div class="logo" (click)="goToLandingPage()">
            <img src="/sneaker-logo.png">
        </div>
        <div class="login" routerLink="/user">
            <a class="login-but">Login/Register</a>
        </div>
    </div>
    <div *ngIf="authService.isLoggedIn$ | async" class="side-nav">
        <div class="side-nav-main">
            <div class="side-nav-logo">
                <img src="/sneaker-logo.png">
            </div>
            <a class="side-nav-icon" routerLink="/home" routerLinkActive="active-link">
                <span class="material-icons-outlined">
                    home
                </span>
            </a>
            <a class="side-nav-icon" routerLink="/inventory" routerLinkActive="active-link">
                <span class="material-icons-outlined">
                    inventory
                </span>
            </a>
            <a class="side-nav-icon" routerLink="/list-view" routerLinkActive="active-link">
                <span class="material-icons">
                    list
                </span>
            </a>
        </div>
        <a class="account-icon">
            <span class="material-icons-outlined account-button">
                manage_accounts
            </span>
            <div class="hover-menu">
                <button (click)="logout()">logout</button>
            </div>
        </a>
    </div>
    <div [ngClass]="{ 'page-content': authService.isLoggedIn$ | async}">
        <router-outlet />
    </div>
</body>