.editscreen {
    
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    flex-direction: column;


    header{
        height:12.5%;
        width:100%;
        background-color:rgb(158, 10, 10);
        position:relative;
        display:flex;
        justify-content:center;
        align-items:center;
        color:white;
        box-shadow: 0 3px 8px 1px rgb(187, 187, 187);

        .close-icon {
            background:none;
            border:none;
            display: flex;
            cursor: pointer;
            position:absolute;
            top:25%;
            left:10px;
            color:white;
        }

        .delete-icon {
            background:none;
            border:none;
            display: flex;
            cursor: pointer;
            position:absolute;
            top:25%;
            right:10px;
            color:white;
        }
    
        .close-icon:hover {
            color:rgb(143, 143, 143);
        }

        .delete-icon:hover {
            color:rgb(143, 143, 143);
        }

        .title{
            font-size:24px;
        }
    }

    .edit-form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5px;
        margin-top:50px;
        width:100%;

        .form-row{
            display:flex;
            width:80%;
            justify-content:space-between;
        }
    }
   

    .button-group-edit {
        display: flex;
        gap: 15px;

        button {
            background-color: rgb(158, 10, 10);
            color: white;
            outline: none;
            border: none;
            width: 100px;
            height: 30px;
            cursor: pointer;
            font-size: 14px;
            border-radius: 10px;
        }

        button:hover {
            background-color: rgb(90, 15, 15);
        }
    }

    .form-field {
        display: flex;
        flex-direction: column;

        span{
            margin-left:3px;
        }
    }

    
}

input, select{
    width: 200px;
    height: 35px;
    outline: none;
    border: none;
    box-shadow: 0 1px 10px 1px rgba(179, 179, 179, 0.171);
    border: 1px solid rgb(219, 219, 219);
    padding-left:5px;
    border-radius:5px;
}

select{
    height:39px;
    width:210px;
}
