<body class="content">
    <button class="add-button" (click)="openAddDialog()" mat-fab extended aria-label="Add Sneaker"> 
        <mat-icon>add</mat-icon> Add Sneaker
    </button>
    <div class="sneaker-container">
        <div *ngFor="let sneaker of sneakers" class="sneaker-div">

            <img [src]="sneaker.photoURL">

            <span>{{sneaker.silhouette}} {{sneaker.nickname}}</span>
            <div class="line"></div>
            <div class="data">
                <div class="price-div">
                    <span>Price: {{sneaker.resellPrice}}</span>
                    <div class="down" *ngIf="sneaker.resellPrice! < sneaker.retail!">
                        <span class="material-icons">
                            arrow_downward
                        </span>
                    </div>
                    <div class="up" *ngIf="sneaker.resellPrice! > sneaker.retail!">
                        <span class="material-icons">
                            arrow_upward
                        </span>
                    </div>
                    <label [ngStyle]="{ color: (sneaker.resellPrice! - sneaker.retail!) < 0 ? 'red' : 'green'}"
                        style="margin-left:3px;">
                        {{sneaker.resellPrice! - sneaker.retail!}}
                    </label>
                </div>
                <span>Size: {{sneaker.size}}</span>
            </div>
            <span class="material-icons-outlined edit-button" (click)="openEdit(sneaker)" matTooltip="Edit Sneaker"
                matTooltipPosition="left">
                edit
            </span>
            <span class="material-icons-outlined info-button" (click)="goShoeInfo(sneaker.id)"
                matTooltip="See Sneaker Info" matTooltipPosition="left">
                info
            </span>
        </div>
    </div>
</body>


<div class="main-loading-screen" *ngIf="isLoading()">
    <mat-spinner [diameter]="100" class="screen-spinner"></mat-spinner>
</div>