<body class="content">
    <div class="inventory-menu">
        <button (click)="submitShoe(content)"> Add new</button>
    </div>

  
</body>

<ng-template #content let-modal>

    <form [formGroup]="shoeForm" (ngSubmit)="submit()" class="shoe-form">
        <div class="first-row">
            <div class="search-div">
                <input type="text" [formControl]="userSearch" placeholder="Search..." class="search-input">
            </div>
            <mat-spinner *ngIf="isLoading.asObservable() | async" [diameter]="50"></mat-spinner>
            <div *ngFor="let result of shoeDivs" class="shoeResult" (click)="sendFlightClub(result)">
                <img src="{{result.imageLink}}">
                <div class="shoe-text">
                    <p> {{result.name}}</p>
                </div>
            </div>
        </div>
        <div class="second-row">
            <div class="brand-select">
                <select type="text" placeholder="Brand" class="dropdowns">
                    <option selected>Pick Brand</option>
                    <option *ngFor="let brand of brands" value={{brand}}>{{brand}}</option>
                </select>
            </div>
            <div class="silhouette-input-div">
                <input type="text" placeholder="Silhouette" class="silhouette-input">
            </div>
        </div>
        <div class="third-row">
            <div class="size-input-div">
                <select type="text" class="dropdowns size-dropdown">
                    <option selected>Size</option>
                    <option *ngFor="let size of shoeSizes" value={{size}}>{{size}}</option>
                </select>
            </div>
            <div class="price-div">
                <input type="text" placeholder="Purchase Price" class="price-input">
            </div>
        </div>
    </form>

</ng-template>